TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
WEBHOOK_KEY=my-super-secret-abc123
ADMIN_PANEL_PATH=/admin1
TELEGRAM_ADMIN_ID=
TELEGRAM_ADMIN_IDS=7862655091,1380583834
ADMIN_PANEL_PASSWORD=
REQUIRED_CHANNELS=@your_channel
